
{% extends 'base.html.twig' %}

{% block title %}Le panier{% endblock %}

{% block content %}


<div class="container mt-5"  >
<br><br><br>
    <h1>Mon panier</h1>
Retrouvez l'ensemble des produits que vous avez ajouté à votre panier
    <hr>
    
    {% if cart | length > 0  %} 
    <table class="table" > 
        <thead>
            <tr >
                <th  scope="col" >Produits</th>
                <th  scope="col"></th>
                <th  scope="col">Quantité</th>
                <th  scope="col">Prix</th>
                <th  scope="col">Total</th>
            </tr>
        </thead>

        
        <tbody>
        
        {% for product in cart %}   
            <tr>
                <th>
                {# <img src="/uploads/{{ product.product.illustration }}" alt="{{ product.product.name }}" height="75px"><br> #}
                <img class="tabimg" src="/assets/images/{{ product.product.illustration }}" alt="{{ product.product.name }}" height="75px"><br>
                </th>
                <td>
                {{ product.product.name }}<br>
                <small>{{ product.product.subtitle}}</small>
                </td>
                <td>
                
                <a href="{{path('decrease_to_cart', {'id' : product.product.id})}}">
                    <img class="minimg" src="{{asset('img/minus.png')}}" height="25px" alt="supprimer un produit">
                </a>
                x {{product.quantity}}
                {% if product.quantity < product.product.quantity %}
                <a href="{{path('add_to_cart', {'id' : product.product.id }) }}">
                    <img class="maximg" src="{{asset('img/plus.png')}}" height="25px" alt="ajouter un produit">
                </a>
                {% endif %}
                </td>
                <td class="ptab" >{{(product.product.price / 100) | number_format(2, " , ", " ") }} €</td>
                <td>{{(product.product.price *  product.quantity / 100 )| number_format(2, " , ", " ") }} €</td>
                <td>
                    <a href="{{ path('delete_to_cart', {'id': product.product.id})}}" class="btn btn-danger btn-sm"> 
                    <i class="fas fa-trash"></i>
                    </a>
                
                </td>
            </tr>
        {% endfor %}
        

    </tbody>
    <tfoot >
        <tr>
            <td colspan="4"  class="text-right text-bold">Nombre de produit :  
            </td>
            
            <td>{{ totalQ}}</td>
            <td></td>
        </tr>
        <tr>
            <td colspan="4"  class="text-right text-bold">Total panier : 
            </td>
            <td>{{ (total / 100) | number_format(2, ",", " ") }} €</td>
            <td></td>
        </tr>
    </tfoot>
</table> 
<div  class="text-right mb-5" >

<a href="{{path('order')}}" class="btn btn-success btn-block">Valider mon panier</a>
</div> 
{% else %}
<hr>
<p><b>Votre panier est vide</b></p>
{% endif %}
<hr>
</div>
{% endblock %}
