
{% extends 'base.html.twig' %}

{% block title %}Mes adresses - La boutique{% endblock %}

{% block content %}
        <a href="{{path('account_address_add')}}" class="btn btn-info btn-sm float-right" >Ajouter une adresse</a>      
        <div class="container" style="margin-top: 100px;">
        <h1>Mes adresse</h1>
        <div>
        c'est dans cette espace  <span style="color: orange"  > <b>  {{app.user.firstname}} {{app.user.lastname }} </b> </span> que vous allez gérer vos adresses
        </div>

        <a href="{{ path('account')}} ">Retour</a>
        <hr>
            

        </hr>
        <h2>Vue de mes adresses</h2>
        </div>
        {% if app.user.addresses|length == 0 %}
        <p class="text-center">
            Vous n'avez pas encore ajouter d'adresse dans votre compte. Pour en rajouter une, veuillez <a href="{{path('account_address_add')}}">Cliquer ici</a>
        </p>
{% else %}
   <div class="row">
        {% for address in app.user.addresses %}
            <div class="col-md-4">   
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ address.name }}</h5>
                        <p class="card-text">
                        {{ address.address }},<br/>
                        {{ address.postal }} - {{ address.city }} -{{ address.country }}
                        
                        </p>
                        <a href="{{path('account_address_edit', {'id' : address.id}) }}" >Modifier</a> | <a href="{{path('account_address_delete',{'id' : address.id })}}" >Supprimer</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}
</hr>
{% endblock %}
