
{% extends 'base.html.twig' %}

{% block title %}Mon compte - La boutique{% endblock %}


{% block content %}
        
<div class="container" style="margin-top: 100px;">

<h1>Mon compte</h1> <br>
{% if is_granted('ROLE_ADMIN') %}
<a  href="\admin" target="_blank"> <span style="color:green;" >Vous êtes un administrateur, acceder au backoffice ?</span> </a> <br> <br>
{% endif %}
<hr>
Bienvenue <span style="color: orange"  > <b>  {{app.user.firstname}} {{app.user.lastname }} </b> </span>dans votre espace compte. <br> c'est dans espace que vous allez pouvoir gérer toutes vos infos persos.

<hr>





<div class="row">
    <div class="col-md-4">
        <div class="account-item text-center">
        <img src="{{asset('assets/images/password.png')}}" alt=""> <br>
            <a href="{{path('account_password')}}"> Modifier mon mot de passe</a><br>
        </div>
    </div>
    <div class="col-md-4">
        <div class="account-item text-center">
        <img src="{{asset('assets/images/notebook.png')}}" alt=""> <br>
            <a href="{{path('account_address')}}"> Gérer mes adresses</a><br>
        </div>
    </div>
    <div class="col-md-4">
        <div class="account-item text-center">
        <img src="{{asset('assets/images/cart.png')}}" alt=""> <br>
            <a href="{{path('account_order')}}">Mes commandes</a><br>
        </div>
    </div>
    
</div>
<hr>
<br>
</hr>
</div>
{% endblock %}
