
{% extends 'base.html.twig' %}

{% block title %}Ma commande - La boutique{% endblock %}

{% block content %}
        
        <div class="container" style="margin-top: 100px;">
        <h1>Ma commande {{ order.reference}}</h1>
        
       <a href="{{path('account_order') }}">Retour</a>
        <hr><strong></strong>
        <strong>Status de la commande : </strong>
        {% if order.state == 1 %}
          Paiement accepté
        {% elseif order.state == 2 %}
          Préparation en cours
        {% elseif order.state == 3 %} 
          Livraison en cours
        {% endif %} 
        <br>
        <strong>Commande passé le :</strong> {{ order.createdAt|date('d/m/Y') }} <br>
        <strong>Référence de ma commande :</strong> <small>{{ order.reference }}</small>  <br>
        <strong>Transporteur choisi :</strong> {{ order.carriername }} <br>
        <hr> 
        <strong>Details :</strong>
    <table class="table mt-4">
        <thead>
          <tr>
            <th scope="col">Produits</th>
            <th scope="col">Quantité</th>
            <th scope="col">Prix unitaire</th>
            <th scope="col">Total</th>
            
          </tr>
        </thead>
        <tbody>
        <!-- arrêté à 7mn-->
        {% for product in order.orderDetails %}
          <tr>
            <td> {{ product.product}} </td>
            <td>{{ product.quatity  }}</td>
            <td>{{ (product.price / 100) | number_format(2,"," , ".") }} €</td>
            <td>{{ (product.total / 100) | number_format(2,"," , ".") }} €</td>
            
          </tr>
        {% endfor %}
          </tbody>
      </table>
          
          <div class="text-right">
          <strong>Sous-total :</strong> {{ (order.getTotal / 100 ) | number_format(2,"," , ".") }} €<br>
          <strong>Livraison  :</strong> {{ (order.carrierprice / 100) | number_format(2,"," , ".") }} €  <br>
          <strong>Total :</strong> {{ ((order.carrierprice + order.getTotal) / 100 )| number_format(2,"," , ".") }} €  <br>
          </div>

         
        

        
{% endblock %}
