
{% extends 'base.html.twig' %}

{% block title %}Mes commandes - La boutique{% endblock %}

{% block content %}
        
        <div class="container" style="margin-top: 100px;">
        <h1>Mes commandes</h1>
        <p>c'est dans cet espace que vous allez pouvoir gérer toutes vos commandes</p>
        

        <a href="{{ path('account')}} ">Retour</a>
        <hr>
            

        </hr>
        <h2>Vue de mes commandes</h2>
        </div>
        {% if orders|length == 0 %}
        <p class="text-center">
            Vous n'avez pas encore passé de commande sur La boutique.
        </p>
{% else %}          
        
<table class="table mt-4">
  <thead>
    <tr>
      <th scope="col">Référence</th>
      <th scope="col">Statut</th>
      <th scope="col">Passé le :</th>
      <th scope="col">Produit(s)</th>
      <th scope="col">Total</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  <!-- arrêté à 7mn-->
  {% for order in orders %}
    <tr>
      <td> <span class="badge badge-secondary" >{{ order.reference }} </span> </td>
      <td>
          {% if order.state == 1 %}
          Paiement accepté
          {% elseif order.state == 2 %}
          Préparation en cours
          {% elseif order.state == 3 %} 
          Livraison en cours
          {% endif %} 
      
      
      </td>
      <td>{{ order.createdAt|date('d/m/Y') }}</td>
      <td>{{ order.orderDetails|length }}</td>
      <td>{{ ((order.carrierPrice  + order.getTotal) / 100) | number_format(2,"," , " ")}} €</td>
      <td class="text-right"> <a href="{{ path('account_order_show', {'reference' : order.reference}) }}" >Voir ma commande</a> </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
        
    
{% endif %}
</hr>
{% endblock %}
