  
{% extends 'base.html.twig' %}

{% block title %}Modifier le mot de passe- La boutique{% endblock %}


{% block content %}
        
<div class="container" style="margin-top: 100px;">
<h1>Modifier mon mot de passe</h1>
<a href="{{ path('account') }}">Retourner à mon compte</a><br>
<hr>

{% if notification %}
    <div class="alert alert-info">{{notification }}</div>
{% endif %}

{{ form(form) }}
</hr>
</div>
{% endblock %}
