
{% extends 'base.html.twig' %}

{% block title %}Erreur de paiement - Ma boutique {% endblock %}

{% block content %}
<div class="m-5  container">
<h2 >Erreur de paiement</h2>
<p>
Bonjour <strong>{{ order.user.firstname }} {{ order.user.lastname }}</strong>, <br><br>
Il semblerait que votre paiement ait échoué pour votre commande n°<strong>{{ order.reference }}</strong>  <br>
Une confirmation d'erreur vient de vous être envoyée par email à l'adresse <strong>{{ order.user.email }}</strong> 


</p>
<a class="btn btn-success" href="{{ path('order') }}">Réessayer le paiement</a>
</div>
{% endblock %}
