
{% extends 'base.html.twig' %}

{% block carousel %}{% endblock %}

{% block content %}

	<div class="reglagehome">
<p>
			<br>
			<br>
		</p>

		

		<h1 class="header-section gs_reveal ipsType_center m-auto gs_reveal_fromRight"> <span style="color:white" >Nos meilleures ventes</span>  </h1>
		
		<div class="ipsGrid_span7 ipsType_left">

			<div class="row gs_reveal gs_reveal_fromLeft">
				{% for product in products %}
					<div class="col-md-3 col-sm-5 imghome " >
						{% include "product/single_product.html.twig" %}
					</div>
				{% endfor %}
			</div>
		</div>

		<!-- START THE FEATURETTES -->
		<!--Départ-->
    <br> <br>
		<div class="cInnerContent">


			<div class="ipsGrid_span7 ipsType_left">
				<h2 class="heading_large gs_reveal">Depuis 1999
					<strong>L'Auberge de la Demo</strong>
					respect les règles culinaires </h2>
				<p class="gs_reveal">
					<a href="{{asset('assets/images/cuisine1.jpg')}}">Cuisine traditionnelle</a>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. <br>
					 Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, <br>
					  when an unknown printer took a galley of type and scrambled it to make a type specimen book. <br>
					   It has survived not only five centuries, but also the leap into electronic typesetting, <br>
					   </p>
					   </div>
			<div class="features">

				<div class="feature ipsSpacer_bottom_double ipsGrid ipsGrid_collapsePhone">
					<div class="featured-image-container ipsGrid_span5 gs_reveal gs_reveal_fromLeft">
						<div class="card">
							<img width="479" src="{{asset('assets/images/cuisine2.jpg')}}" alt="">
						</div>
					</div>

					<div class="ipsGrid_span7 ipsType_left">
						<h2 class="heading_large gs_reveal">Produits du terroir
							<strong>BIO</strong>
							deux jours de préparation</h2>
						<p class="gs_reveal">
							<a href="{{asset('assets/images/cuisine3.jpg')}}">Cuisine traditionnelle</a>
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. <br>
					 Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, <br>
					  when an unknown printer took a galley of type and scrambled it to make a type specimen book. <br>
					   It has survived not only five centuries, but also the leap into electronic typesetting, <br>
					   </p>
					</div>
				</div>

				<div class="feature ipsSpacer_bottom_double ipsGrid ipsGrid_collapsePhone">
					<div class="ipsGrid_span7 ipsType_right">
						<h2 class="heading_large gs_reveal">Des chambres 
							<strong>couleurs</strong>
							natures</h2>
						<p class="gs_reveal">GreenSock is used in some of the most popular
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. <br>
					 Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, <br>
					  when an unknown printer took a galley of type and scrambled it to make a type specimen book. <br>
					   It has survived not only five centuries, but also the leap into electronic typesetting, <br>
					   </p>
					</div>

					<div class="featured-image-container ipsGrid_span5 gs_reveal gs_reveal_fromRight">
						<div class="card">
							<img width="479" src="{{asset('assets/images/cuisine1.jpg')}}" alt="">
						</div>
					</div>
				</div>

				<div class="feature ipsSpacer_bottom_double ipsGrid ipsGrid_collapsePhone">
					<div class="featured-image-container ipsGrid_span5 gs_reveal gs_reveal_fromLeft">
						<div class="card">
							<img width="479" src="{{asset('assets/images/cuisine2.jpg')}}" alt="">
						</div>
					</div>

					<div class="ipsGrid_span7 ipsType_left">
						<h2 class="heading_large gs_reveal">Control performant
							<strong>Canvas</strong>
							animations</h2>
						<p class="gs_reveal">GSAP makes animating with Canvas even easier by providing an easier way to look and sequence animations. GSAP works great with
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. <br>
					 Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, <br>
					  when an unknown printer took a galley of type and scrambled it to make a type specimen book. <br>
					   It has survived not only five centuries, but also the leap into electronic typesetting, <br>
					   </p>
					</div>
				</div>

				<div class="feature ipsSpacer_bottom_double ipsGrid ipsGrid_collapsePhone">
					<div class="ipsGrid_span7 ipsType_right">
						<h2 class="heading_large gs_reveal">
							<strong>Award winning</strong>
							websites</h2>
						<p class="gs_reveal">GSAP is used on over 8,500,000 sites and over 1,000 sites featured on
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. <br>
					 Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, <br>
					  when an unknown printer took a galley of type and scrambled it to make a type specimen book. <br>
					   It has survived not only five centuries, but also the leap into electronic typesetting, <br>
					   </p>
					</div>

					<div class="featured-image-container ipsGrid_span5 gs_reveal gs_reveal_fromRight">
						<div class="card">
							<img width="479" src="{{asset('assets/images/cuisine3.jpg')}}" alt="">
						</div>
					</div>
				</div>

			</div>

		</div>

		<!-- /END THE FEATURETTES -->
	{% endblock %}
