
{% extends 'base.html.twig' %}

{% block carousel %}{% endblock %}

{% block content %}

<div class="reglagehome">
<h2>Nos meilleures ventes</h2>
<p>Découvrez les articles les plus vendues</p>
  
    <div class="row">
    {% for product in products %}
        <div class="col-md-3">
            {% include "product/single_product.html.twig" %}
        </div>
    {% endfor %}
    </div>

        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It’ll blow your mind.</span></h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5 square">
                <img src="{{asset('assets/images/cuisine2.jpg')}}" class="img-fluid" alt="">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5 order-md-1 square2">
            <img src="{{asset('assets/images/cuisine1.jpg')}}" class="img-fluid" alt="">
                
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5">
                <img src="{{asset('assets/images/cuisine3.jpg')}}" class="img-fluid" alt="">
            </div>
        </div>

        <hr class="featurette-divider">
</div>
        <!-- /END THE FEATURETTES -->
{% endblock %}

