
{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié - La boutiqueDeTest{% endblock %}

{% block content %}
    <div class="block-small mt-5">
        <form method="post">
           
            <h1 class="h3 mb-3 font-weight-normal">Réinitialiser mon mot de passe</h1>
            {% for message in app.flashes('notice') %}
                <div class="alert alert-info">{{ message }}</div>
            {% endfor %}
            <label for="inputEmail">Votre Email</label>
            <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Votre adresse email" required autofocus>
            <button class="btn btn-lg btn-info btn-block mt-3" type="submit">
                Valider
            </button>
            <hr>

            
            <p class="text-center">Ou souhaitez-vous <a href="path('app_login')">Vous connecter</a></p>
        </form>
    </div>
{% endblock %}
