*, ::before, ::after {
    
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  background-color: #9c9d8c;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}
/* Départ de l'affiche du paanier */
.cart_count, .wishlist_count {
	position: relative;
	top: -3px;
	left: 0;
	font-size: 14px;
	background-color: #9a7600;
	border-radius: 50px;
	height: 18px;
	line-height: 18px;
	color: #fff;
	min-width: 16px;
	text-align: center;
	padding: 0 5px;
	display: inline-block;
	vertical-align: top;
	margin-left: -5px;
	margin-right: -5px;
}

.cart_trigger .amount {
	margin-left: 8px;
	font-weight: 600;
	vertical-align: top;
	margin-right: -10px;
}

.navbar .navbar-nav > li > .nav-link.cart_trigger i {
	font-size: 20px;
}

.navbar .navbar-nav > li > .nav-link {
	font-weight: 500;
	padding: 22px 10px;
	text-transform: capitalize;
	font-size: 14px;
}
.navbar .navbar-nav > li > a.active, 
.navbar .navbar-nav > li:hover > a,
.light_skin.transparent_header.nav-fixed .navbar .navbar-nav > li > a.active,
.light_skin.transparent_header.nav-fixed .navbar .navbar-nav > li:hover > a,
.transparent_header.nav-fixed .light_skin .navbar .navbar-nav > li > a.active,
.transparent_header.nav-fixed .light_skin .navbar .navbar-nav > li:hover > a {
	color: #E439A1;
}
.navbar-nav.attr-nav li .nav-link {
	padding: 20px 10px;
	position: relative;
	white-space: nowrap;
}
.navbar-nav.attr-nav li .nav-link i {
	font-size: 20px;
}

/* Fin de l'affiche du paanier */

.reglageH{
    margin-top: 400px;
}

.row {
 padding-top: 5%;
}

main {
  padding-top: 0%;
  background-color: #c2bdb184;
}



.load-container {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: rgb(114, 114, 114);
    pointer-events: none;
}

.anim-bloc {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    z-index: 100;

}
 .bloc-txt {
    background: white;
    position: absolute;
    bottom: -50px;
    left: -50px;
    height: 0;
    z-index: 175;
    overflow: hidden;
}

.bloc-txt h2 {
    padding: 10px 30px;
    color: #222;
    font-family: Playfair Display, serif;
    font-size: 40px;
    text-transform: uppercase;
    transform: translateY(100px);
}

.images-container {
    width: 100%;
    height: 0px;
    position: absolute;
    /* Pour faire monter la height de bas en haut */
    bottom: 0px;
    z-index: 150;
    overflow: hidden;
}

.img-flip{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    position: absolute;
}

.flip-img1 {
    background-image: url('../images/img1a.png');
}

.flip {
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    position: absolute;
}

.f2 {
    background: #9b1339;
}



.home {
    width: 100%;
    height: 100%;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.603);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
}

video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.redimtitre {
  width: 100%;
  
}

.home-content {
    width: auto;
    margin: 0  auto;
    position: relative;
    top: 250px;
    color: #fff;
    z-index: 15;
}
.home-content h1 {
    font-family: Playfair Display, sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 5vw;
    /* font-weight: bolder; */
    line-height: 1.1;
}
.home-content .middle-line {
    height: 200px;
    width: 2px;
    background: #fff;
    margin: 40px auto;
    position: relative;
}


.home-content button {
    display: block;
    font-size: 20px;
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    background: transparent;
    color: #fff;
    margin: 50px auto 0;
    padding: 16px 30px;
    cursor: pointer;
}

.navbarhidden {

    opacity: 1;
    
}


/* code pour scroll */

.ipsType_right {
    text-align: right;
  }
  .ipsType_center {
    text-align: center;
  }
  .cInnerContent {
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
  }
  .ipsSpacer_bottom_double {
    margin-bottom: 30px;
  }
  .ipsGrid {
    display: inline-block;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
  }
  .ipsGrid::before, .ipsGrid::after {
    display: table;
    content: "";
    line-height: 0;
  }
  .ipsGrid > [class*="ipsGrid_span"] {
    display: block;
    width: 100%;
    min-height: 30px;
    box-sizing: border-box;
  }
  .ipsGrid > .ipsGrid_span5 {
    width: 40.42553191489362%;
  }
  .ipsGrid > .ipsGrid_span7 {
    width: 57.44680851063829%;
  }
  .ipsGrid > [class*="ipsGrid_span"] {
    float: left;
    margin-left: 2%;
  }
  .ipsGrid > [class*="ipsGrid_span"]:first-child {
    margin-left: 0;
  }
  .feature {
    display: flex;
    align-items: center;
  }
  .card {
    margin-bottom: 30px;
    border: 1px solid #cccccc;
    border-radius: 8px;
    overflow: hidden;
    background: #ffffff;
    box-shadow: 1px 1px 5px 1px #CCCCCC;
  /*   transition: 0.3s; */
  }
  .featured-image-container .card {
    padding: 10px;
    height: 0;
    padding-bottom: calc(100% - 10px);
  }
  h2.heading_large {
    font-size: 1.8em;
  }
  img {
    max-width: 100%;
  }
  
  .header-section {
    margin: 200px auto;
  }
  
  .gs_reveal {
    opacity: 0;
    visibility: hidden;
    will-change: transform, opacity;
  }

  .zoom {
    /* position:-webkit-sticky;
    background-position: -60px; */
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  
    transition: all 1s ease; /* Animation */
    /* width: 400px;
    height: 100%;
    margin: 0 auto; */
  }
  
  .zoom:hover {
    transform: scale(2.9); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

  .imgzoom {
    z-index: 4;
    display: block;
  }

  .info1 {
    z-index: 4;
  }

  #jumbo {
   padding: 20px;
    height: auto;
    background-color: rgba(206, 206, 206, 0.666);
    border-radius: 10px;
    /* background-repeat: no-repeat;
     -webkit-filter: blur(5px);
     -moz-filter: blur(5px);
      -o-filter: blur(5px);
      -ms-filter: blur(5px);
      filter: blur(5px); */
     
 }

 /* transition swup */

 /* .transition-fade {
  transition: 0.4s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
} */

@media only screen and (max-width: 768px) {

video {
    
    width: 100%;
    height: 600px;
    
    top: 0;
    left: 0;
}
.home {
  
  height: 30px;
  text-align: center;
}


.home-content {

  text-align: center;
  /* width: 200px; */
  margin: 4 auto;
  
  top: 80px;
  color: rgb(254, 254, 254);
  z-index: 15;
}
.home-content h1 {
 
  text-align: center;
  
  font-size: 10vw;
  /* font-weight: bolder; */
  /* line-height: 1.1; */
}
.home-content .middle-line {
  height: 150px;
  width: 2px;
  background: #fff;
  margin: 40px auto;
  position: relative;
}

.formule {

  width: 100%;
  
}

.form-check {
border-radius: 10px;
    /* font-size:3vw; */
  color: #9b1339;
  /* padding-left: 5px; */
  /* text-align: left; */
}

.form-check-input {
   
  padding-left: 10px;
  
}

.anim-bloc {

  width: 60%;

}



/* table */

  .table thead {
  display: none;
  }
  .table tr{
  display: block;
  margin-bottom: 4vw;
  }
  
  .table td:before {
  content: attr(data-label);
  float: left;
  font-weight: bold;
  }

  .tabimg {
    max-width: 15vw;
  }

  .ptab {
   font-weight: 2px;
  }

  .minimg {
    max-width: 15vw
  }

  .maximg {
    max-width: 15vw
  }

  /* .imghome {
    background-color: #ff006f;
    display: grid;
    grid-auto-columns: minmax();
  } */

  
}

/* @media screen and (min-width: 800px) {
  .container {
    margin: 1em 2em;
  }
}  */



