{% extends 'base.html.twig' %}

{% block title %}Nos produits - la boutique
{% endblock %}

{% block content %}


	<div class="row "  >
 

		    <div class=" formule col-md-3 ipsGrid_span5 gs_reveal gs_reveal_fromRight" value="option2" >
			    <h3>Filtrer</h3>
					    
                {{form(form) }}    
				
            </div>

			<div class="degustation col-md-9  col-sm-8">
				<h3 class="featured-image-container ipsGrid_span5 gs_reveal gs_reveal_fromLeft">Nos dégustations</h3>
				<div class="row product-container  ">
					{% for product in products %}
						<div class="col-md-4 eading_large gs_reveal">
							{% include "product/single_product.html.twig" %}
						</div>
					{% endfor %}
				</div>
			</div>
		
	{% endblock %}

	{% block javascripts %}
    <script>
       
            $('.js-categories-multiple').select2({
  			theme: "classic"
			});
       
    </script>
    
{% endblock %}
