{% extends 'base.html.twig' %}

{% block title %}
	{{ product.name}}
	- Les dégustations
{% endblock %}

{% block content %}


	<div class="row">
		<div
			class="imgzoom composition col-md-5 ipsGrid_span5 gs_reveal gs_reveal_fromLeft">

			{# <img src="/uploads/{{ product.illustration }}" alt="{{ product.name}}" class="img-fluid" > #}
			<img src="/assets/images/{{ product.illustration }}" alt="{{ product.name}}" class="  thumbnail zoom img-fluid">

		</div>
		
		<div class="col-md-7 m-auto info1 jumbotron heading_large gs_reveal" id="jumbo">
			<h3 style="color:black">{{ product.name}}</h3>
			<p>{{ product.subtitle }}</p>
			<span class="product-page-price" style="color:white">
				{{ (product.price / 100) |number_format(2, ',', ' ') }}
				€</span>
			<hr>
			 
			<p>
				{{ product.description }}
			</p>
			
			<a href="{{path('add_to_cart',{'id' : product.id })}}" class="  compo_btn btn btn-outline-light">Ajouter au panier</a>
		</div>
	</div>
	<hr>


	<h2>Produits connexes</h2>


	{% for category in product.category %}
		<h3 style="color:orange">{{category}}</h3>
		<hr>
	{% endfor %}

	<div class="row background">

		{% for category in product.category %}

			{% for productRelated in category.products %}

				{% if product is not same as productRelated %}
					<div class="col-md-3 ipsGrid_span5 gs_reveal gs_reveal_fromRight ">
						{{include ('product/single_product.html.twig',{'product': productRelated})}}
					</div>

				{% endif %}
			{% endfor %}


		{% endfor %}


	</div>
	<hr>

{% endblock %}
