
    <div class="cat_img product-item text-center hide-text ">

        {# <a href="{{ path('product', { 'slug' : product.slug }) }}"> <img src="/uploads/{{ product.illustration }}" alt="{{ product.name }}" class="img-fluid"></a>  #}
        <a href="{{ path('product', { 'slug' : product.slug }) }}"> <img  src="/assets/images/{{ product.illustration }}" alt="{{ product.name }}"  class=" compo_photo d-block rounded mx-auto float-start m-l-4" width="auto" height="180px" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style=" font-size:1.125rem;text-anchor:middle"></a>
        <h5 class="mt-3" > <span style="color:black"  >{{ product.name }}</span>    </h5>
        <span class="product-subtitle" >{{ product.subtitle }}</span>
        <span class="product-price" style="color:white" >  {{ ((product.price / 100) | number_format(2, ',', '.' ) ) }}€</span>
    </div>

    

 
