{% extends 'base.html.twig' %}

{% block content %}
<h1>Page d'inscription</h1>
{% if notification %}

    <div class="alert alert-info">{{ notification }}</div>
    <hr>
    <a href="{{path('account')}}" class="btn btn-success">DemoResto</a>
{% endif %}

{{form(form)}}

<div class="container">
    <a href="{{path('google_connect')}}" class="btn btn-google">Google</a>
</div>
{% endblock %}