
{% extends 'base.html.twig' %}

{% block title %}Nous contacter - La boutiqueDeTest!{% endblock %}

{% block content %}

<h2 class="mt-5">Nous contacter</h2>
    <p>N'hésitez pas à prendre contact avec notre équipe, nous vous répondrons dans les meilleurs délais</p>
    {% for message in app.flashes('notice') %}
        <div class="alert alert-info">{{ message }}</div>
    {% endfor %}

    <div class="row">
        <div class="col-md-8">{{ form(form) }}</div> 
        <div class="col-md-4">
            <br>
            <strong>La boutiqueDeTest</strong>
            <hr>
            06 02 03 04 05 <br>
            8 Rue des charpentiers, 89000 Paris <br>
            contact@laboutiquedetest.fr
            </div>
        </div>    
    </div>

{% endblock %}
