<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="Ma boutique test">
		<link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.jpg">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
		{# <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap" rel="stylesheet"/> #}
		
		<meta name="generator" content="Jekyll v4.1.1">
		{# <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" /> #}
		
		
		<title>
			{% block title %}DemoResto - 100% tradition
			{% endblock %}
		</title>


{% block Javascript %}
{% endblock %}		
		<!-- Bootstrap core CSS -->
		<link rel="stylesheet" href="{{asset('assets/css/style.css')}}">
		<link rel="stylesheet" href="{{asset('assets/css/maboutique.css')}}">
		<link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css')}}" > 
        
		
		 
	<style>
		.bd-placeholder-img {
			font-size: 1.125rem;
			text-anchor: middle;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}

		@media(min-width: 768px) {
			.bd-placeholder-img-lg {
				font-size: 3.5rem;
			}
		}
	</style>



		<!-- Custom styles for this template -->
<link href="{{ asset('assets/css/carousel.css')}}" rel="stylesheet">
	</head>
	
	<body>
			<header class="navbarhidden">
				<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
					
					<a class="navbar-brand" href="{{path('home')}}">DemoResto</a>
					
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					
			<div class="collapse navbar-collapse" id="navbarCollapse">
						<ul class="navbar-nav mr-auto">
								
								<li class="nav-item active">
									<a class="nav-link" href="{{path('products')}}">Notre carte</a>
								</li>
								
								<li class="nav-item dropdown active">
									<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Qui sommes nous ?</a>
									<div class="dropdown-menu">
										{# <a class="dropdown-item" href="https://gitlab.com/PatBoyDevInFrance/e-commerce1">Le projet sur GitLab</a> #}
										<a class="dropdown-item" href="https://patboydevinfrance.github.io/myCv/">Mon parcours</a>
									</div>
								</li>

								<li class="nav-item active">
									<a class="nav-link" href="{{path('contact')}}">Contact</a>
								</li>				
						</ul>	
						
						
									<a href="{{path('cart')}}" ><img src="{{ asset('img/shopping-cart.png' )}}" alt="panier" >
									<i class="linearicons-cart "></i>
									<span class="cart_count">
									{% set quantity = 0 %}
										{% for element in app.session.get('cartData') %}
											<span  style="color:green" > {% set quantity = quantity + element.quantity %} </span>
										{% endfor %}
									{{ quantity }}


								{# {% if app.session.get('cart') %}

									{{ app.session.get('cartData').data.quantity_cart}}


								{% else %}
									0

								{% endif %} #}
									
									</span>
									</a>
						
							<div class=" ml-4 navbar-item-custom">

								{% if app.user %}
									<a href="{{ path('account') }}">
										<small>Bonjour
											<span style="color:orange;">{{app.user.firstname}}</span>
										</small><br>Compte</a>
									|
									<a href="{{ path('app_logout') }}">Déconnection</a>
								{% else %}
									<a href="{{ path('app_login') }}">Connection</a>
									|
									<a href="{{ path('register') }}">Inscription</a>
								{% endif %}
							</div>

			</div>

			
			</nav>	
		</header>
	
	
<main role="main">
	
	{% if block ('carousel') is defined %}

	<div class="load-container">
		<div class="anim-bloc">
			<div class="images-container">
				<div class="img-flip flip-img1"></div>
				<div class="flip f2"></div>
			</div>

			<div class="bloc-txt">
				<h2>Auberge
					<br>
					de
					<br>
					la démo</h2>
			</div>
		</div>
	</div>

			<div class="home">
				<video muted autoplay preload="auto" poster="{{ asset('img/imganim2.jpg') }}" id="background">
					<source src="{{ asset('img/restauAnim.mp4') }}" type="video/mp4">
				</video>

				<div class="home-content">
					<h1 class="display-2">Auberge de la Démo</h1>
					<div class="middle-line"></div>
					<div class="text-center">
						<a role="button" href="{{path('products')}}" class=" btn btn-outline-light ">CONSULTER LA CARTE</a>
						{# <button type="button" href="{{path('products')}}" >CONSULLTER LA CARTE</button> #}
					</div>
				</div>
			</div>

	</div>

	{% endif %}<!-- Marketing messaging and featurettes
	            ================================================== --><!-- Wrap the rest of the page in another container to center all the content. -->
		<div class="reglageH container marketing {% if block ('carousel') is not defined %} mt-5 {% endif %}">
			{% block content %}{% endblock %}
		</div>
<!-- FOOTER -->
		<footer class="footer-custum ">
				<p>
					&copy; 2017-2020 MaBoutique,
					<br><small>
						La boutique de test
						<br>
						&middot;
						<a href="#">Privacy</a>
						&middot;
						<a href="#">Terms</a>
					</small>
				</p>
		</footer>

	
</main>
		{# test au démérrage #}
		<script src="{{ asset('assets/js/app.js') }}"></script>		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollTrigger/1.0.5/ScrollTrigger.min.js"></script>
		<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/gsap-latest-beta.min.js?r=5426"></script>
		<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/ScrollTrigger.min.js"></script>
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
		<script src="{{ asset('assets/js/bootstrap.bundle.js') }}"></script>

		

	
</body>
		{% block script %}{% endblock %}
</html>
