
{% extends 'base.html.twig' %}

{% block Javascript %}
    <script src="https://js.stripe.com/v3/"></script>
{% endblock %}

{% block content %}

<hr>
    <h2> Mon récapitulatif</h2>
    <p>Vérifier vos informations avant de valider votre commande</p>
<hr>
<div class="row">
    <div class="col-md-6">
        <strong>Mon adresse de livraison</strong> <br>
        <div class="form-check mt-5">
            {{ delivery|raw }}
        </div>
        

        <hr>
        <strong>Mon transporteur</strong>
        <hr>
        <div class="form-check">
        {{ carriers.name }} <br>
        {{ carriers.description }} <br>
        {{ (carriers.price / 100)  | number_format (2, ",", " ")  }} € <br>
        
        </div>
        
       
    </div>


    <div class="col-md-6">
    <div class="text-center">
        <b>Ma commande</b><br>
        <p>Retrouvez le récapitulatif de vos produits</p>
    </div>
        
        

        
    <div class="order-summary">
    {% set total = null %}
        {% for key,product in cart %} 
            <div class="row {% if key > 0 %} mt-2 {% endif %} ">
                    <div class="col-2">
                            <!--<img src="/uploads/{{ product.product.illustration }}" alt="{{ product.product.name }}" height="75px"><br> -->
                            <img src="/assets/images/{{ product.product.illustration }}" alt="{{ product.product.name }}" height="75px"><br> 
                    </div>
                    <div class="col-8 my-auto">
                        {{ product.product.name}} <br>
                        <small>
                            {{ product.product.subtitle}}</small>
                            <br>
                        x {{ product.quantity }}
                    </div>  
                    <div class="col-2 my-auto">
                        {{(product.product.price *  product.quantity / 100 )| number_format(2, " , ", " ") }} €
                    </div>
            </div>
    {% set total = total +  (product.product.price *  product.quantity) %}  
        {% endfor %}   
    </div>
    <hr>
    <strong>Sous-Total : </strong> {{ ( total / 100) | number_format(2, ",", " ") }} €<br>
    <strong>Livraison : </strong>{{ ( carriers.price / 100) | number_format(2, ",", " ") }} €
    <hr>
    <strong>Total : {{ ((total /100)  + (carriers.price / 100)) | number_format(2, ",", " " )  }}  </strong> 
      
      <!--le href à planté mon payement --> 
    <a class="btn btn-success btn-block mt-3" id="checkout-button">Payer | {{ ((total /100)  + (carriers.price / 100)) | number_format(2, ",", " " )  }}  €</a>
    
    </div>
        <hr>
</div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
   
    var stripe = Stripe("pk_test_51I4NqYLOWYwqA7Z8ZFoA7Xyh6lD92hWAfgDo0vQssR3cKmsx9BMhU06VKa1utiXeYMRXRqHxLX6VuUvibUqXY0sP00ZxewaNF9");
    var checkoutButton = document.getElementById("checkout-button");

    checkoutButton.addEventListener("click", function () {
        
        fetch("/commande/create-session/{{ reference}}", {
            method: "POST",
        })
        .then(function (response) {
          return response.json();
        })
        .then(function (session) {
            if (session.error == 'order'){
                //redirection
                window.location.replace('{{ path('order')}}');
            } else {
                return stripe.redirectToCheckout({ sessionId: session.id }); 
            }
         
        })
        .then(function (result) {
          // If redirectToCheckout fails due to a browser or network
          // error, you should display the localized error message to your
          // customer using error.message.
          if (result.error) {
            alert(result.error.message);
          }
        })
        .catch(function (error) {
          console.error("Error:", error);
        });
    });
  </script>

{% endblock %}
