
{% extends 'base.html.twig' %}

{% block content %}

<hr>
<h2> Je passe ma commande</h2>
<p>Choissisez vos préférences avant de passer votre commande sur ma boutique </p>
<hr>
<div class="row">
    <div class="col-md-6">
        
        {% set formHtml %}
            {{form_start(form, {action:path('order_recap')})}}
                {{form_label(form.addresses, 'Choisissez votre adresse de livraison')}}
                <a href="{{path('account_address_add')}}">Ajouter une nouvelle adresse</a>
            {{form_end(form)}}
        {% endset %}
        {{formHtml|replace({'[br]' : '<br/>'})|raw }}
        <b>Choisir mon transporteur</b>
    
    </div>


    <div class="col-md-6">
    <div class="text-center">
    <b>Récap de ma commande</b><br>
    <p>Retrouvez le récapitulatif de vos produits</p>
    </div>
        
        
        <div class="order-summary">
        {% for key,product in cart %} 
            <div class="row {% if key > 0 %} mt-2 {% endif %} ">
                    <div class="col-2">
                    <!--<img src="/uploads/{{ product.product.illustration }}" alt="{{ product.product.name }}" height="75px"><br>-->
                            <img src="/assets/images/{{ product.product.illustration }}" alt="{{ product.product.name }}" height="75px"><br>
                    </div>
                    <div class="col-8 my-auto">
                        {{ product.product.name}} <br>
                        <small>{{ product.product.subtitle}}</small>
                    </div>  
                    <div class="col-2 my-auto">
                        x {{ product.quantity }}
                    </div>
            </div>
          {% endfor %}   
        </div>
       

        <!--<b>Bouton pour payer</b>-->
    </div>
        <hr>
</div>
{% endblock %}
